# environment
.env

# Node modules
node_modules/

# IDE-specific files
.vscode/
.vs/

# package
package-lock.json

# dentsys_release exe
dentsys_release/

# dentsys-api exe versions
dentsys-api/versions/
dentsys-api/backups/