# environment
.env

# Node modules
node_modules/

# IDE-specific files
.vscode/
.vs/

# package
package-lock.json

# dentsys-api exe
dentsys-api/dentsys-api.exe

# dentsys_release exe
dentsys_release/